/* Custom CSS for SIA OAPM */
.boc-ai-button {
    display: none !important;
}

.boc-img-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.boc-img-button svg {
    position: relative;
    top: 0px !important;
}

.boc-edit-form-instruments {
    margin: 42px 10px 0 10px;
    text-align: center;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boc-link {
    display: none !important;
}

.boc-form-fieldset button{
    display: none !important;
}

#tree hr {
    margin-bottom: 5px;
}

.boc-chart-menu > :first-child {
    display: flex !important;
}
/* You can add your custom styles here */

.my-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.my-div-value {
    width: 40%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    display: block;
}

.my-div-value-blue {
    background-color: #adefff;
    border: 1px solid #468aaa;
}

.my-div-value-green {
    background-color: #b5e1a5;
    border: 1px solid #4caf50;
}

.text-primary {
    color: #468aaa;
    width: 100%;
    text-align: center;
    display: block;
}

.text-success {
    color: #29722c;
    width: 100%;
    text-align: center;
}

#icono.error {
    border-color: #dc2626 !important;
}

#BtnviewTab_tabla.active {
    background-color: #ffffff;
}

#BtnviewTab_calendario.active {
    background-color: #ffffff;
}

.fc-event {
    cursor: pointer;
}